spring:
  application:
    name: StudentManagementSystem

  datasource:
    url: jdbc:postgresql://localhost:5432/student_management_system
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml

server:
  port: 8085

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
